@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

:root {
  font-family: sans-serif;

  /* ----- Text colors ----- */
  --heading-1: #4a5be6;
  --text-gray: #78709e;

  /* ----- Background colors ----- */
  --bg-light: #f1f4f9;
  --bg-dark: #4a5be6;
}
